<h1>Challenge tag</h1>
<p><strong>Challenge:</strong> <%= link_to @challenge_tag.challenge.name, @challenge_tag.challenge %></p>
<p><strong>Tag:</strong> <%= link_to @challenge_tag.tag.name, @challenge_tag.tag %></p>

