<h1 class="mb-3">Users</h1>
<table class="table table-striped table-hover bg-white">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Badges</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= link_to (u.name.presence || u.username), u %></td>
        <td><%= u.email %></td>
        <td><%= u.role.presence || "-" %></td>
        <td><%= u.badges.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
